@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playwrite+PL:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.playwrite-pl {
  font-family: "Playwrite PL", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.waviy {
  position: relative;
  display: inline-block;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.waviy span {
  font-family: "Alfa Slab One", cursive;
  display: inline-block;
  color: #583823;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
